.nav {
  display: flex;
  background-color: rgb(65, 65, 65);
  color: white;
  height: 10vh;
  align-items: center;
}

.h1__home {
  margin: 0 30px;
  vertical-align: center;
  font-size: 25px;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.menu__item {
  padding: 14px;
}

.btn__log-in {
  margin-left: auto;
  margin-right: 30px;
}

